<footer>
    <section class="footer__infos">
        <div class="footer__infos--logo">
            <h3>BARROS <br/>CONSULTORES</h3>
        </div>

        <div class="footer__infos--datas">
            <div>
                <h4>ENDEREÇO</h4>
                <div class="flex-col">
                    <span>Av. Bernardino de Campos, 98</span>
                    <span>São Paulo - SP - CEP: 12345-678</span>
                </div>
            </div>

            <div>
                <h4>CONTATO</h4>
                <div class="flex-col">
                    <span>Tel: (11) 3456-7890</span>
                    <span>Email:  infomeusite.com</span>
                </div>
            </div>

            <div>
                <h4>SIGA-NOS</h4>
                <div class="networks">
                    <span>Facebook</span>
                    <span>LinkedIn</span>
                    <span>Twitter</span>
                </div>
            </div>
        </div>
    </section>

    <span class="footer-copyright">© 2035 por Barros Consultores. Orgulhosamente criado com Wix.com e desenvolvido por <span>Deivid Barreto</span></span>
</footer>