@import "../../../styles/variables";


footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $gray;
    color: $white;
    padding: 2rem;

    .footer__infos {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .footer__infos--logo {
            h3 {
                font-size: 1rem;
                font-weight: 600;
                color: $light-green;
                padding: 1.5rem 0;
                text-align: center;
            }
        }
    
        .footer__infos--datas {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & > div {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem 0;
                border-top: 1px solid $white;

                h4 {
                    font-weight: 300;
                }

                .networks {
                    display: flex;
                    gap: .5rem;
                    font-family: $font-raleway;
                    letter-spacing: 1px;

                    & span:nth-child(2) {
                        padding: 0 .5rem;
                        border-right: 1px solid $white;
                        border-left: 1px solid $white;
                    }
                }
            }

        }
    }

    .footer-copyright {
        margin-top: 3rem;
        font-size: .9rem;
        font-family: Arial;
        font-weight: 200;

        span {
            font-family: inherit;
            font-weight: bold;
            color: $light-green;
            border-bottom: 1px solid $light-green;
        }
    }

}


@media (min-width: 768px) {
    footer {

        .footer__infos {
            .footer__infos--logo {
                h3 {
                    font-size: 1.2rem;
                }
            } 

            .footer__infos--datas {
                flex-direction: row;
                gap: 2rem;
                
                & > div {
                    max-width: 16rem;
                }
            }
        }
    }
    
}

@media (min-width: 1024px) {
    footer {
        padding: 7rem 0 5rem;
        gap: 5rem;

        .footer__infos {
            flex-direction: row;
            justify-content: center;
            gap: 6rem;

            .footer__infos--datas {
                gap: 5rem;

                & > div {
                    max-width: 16rem;

                    h4 {
                        margin: 2.5rem 0 2rem 0;
                        font-size: .9rem;
                        font-weight: 400;
                        letter-spacing: 1px;
                    }

                    div span {
                       font-size: .9rem;
                       letter-spacing: 1px;
                    }
                }
            }
        }
        
        .footer-copyright {
            text-align: center;
        }
    }
}