@import "../../../styles/variables";

.feedbacks {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    padding: 4rem .5rem;
    background-color: $gray;
    color: $white;

    .feedbacks__header {
        h2 {
            font-size: 2rem;
            font-family: $font-playFair;
            font-weight: 300;
        }
    }

    .feedbacks__clientes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 7rem;

        .feedbacks__clientes--card {
            display: grid;
            gap: 1rem;
            width: 90vw;
            height: 30vh;
            max-width: 20rem;

            div {
                color: $light-green;
                height: 10vh;
                font-family: $font-raleway;

                h3 {
                    font-size: 1.5rem;
                }

                h4 {
                    font-size: 1.1rem;
                }
            }

            p {
                font-size: 1rem;
                line-height: 1.8rem;
            }
        }
    }
}

@media(min-width: 1024px) {
    .feedbacks {
        gap: 0;
    
        .feedbacks__header {
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
            padding: 2rem 0;

            h2 {
                font-size: 3rem;
            }
        }

        .feedbacks__clientes {
            flex-wrap: nowrap;
            gap: 0rem;
            border-bottom: 1px solid $white;

            .feedbacks__clientes--card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 90vh;
                gap: 4rem;
                padding: 0 5rem;
                max-width: 25rem;
                border: 1px solid $white;

                div {
                    display: grid;
                    gap: 1rem;
                }
            }
        }
    }
}